<ion-tabs>

  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button tab="home" routerLink="/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="diagnosis" routerLink="/crop-diagnosis">
      <ion-icon name="leaf-outline"></ion-icon>
      <ion-label>Diagnose</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="market" routerLink="/market-prices">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Market</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schemes" routerLink="/schemes">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Schemes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="weather" routerLink="/weather">
      <ion-icon name="cloudy-night-outline"></ion-icon>
      <ion-label>Kissan AI</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
